.wrapper {
    padding: 10px;
    & h3 {
        margin: 0;
        margin-bottom: 10px;
    }
}

.form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    & button {
        width: 150px;
    }
    & label {
        margin-right: 8px;
    }
}